home-desktop/.lein/repl-history
home-desktop/.lein/self-installs/leiningen-2.6.1-standalone.jar
home-desktop/.xmonad/xmonad-x86_64-linux
home-desktop/.xmonad/xmonad.errors
home-desktop/.xmonad/xmonad.hi
home-desktop/.xmonad/xmonad.hs
home-desktop/.xmonad/xmonad.o
